
@mixin item_img{
    aspect-ratio: 1/1.44;
    object-fit: cover;
}

@mixin fadeIn($duration:1s) {
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
    animation: fadeIn $duration ease-in-out;
  }


@mixin press($duration:0.3s){
    @keyframes press{
        0% {
            transform: scale(1);
        }
        50% {
            opacity: 0.7;
            transform: scale(0.95);
        }
        100% {
            transform: scale(1);
        }
    }
    &:active{
        animation: press $duration linear;

    }
}

