@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
    >p{
        font-size: 20px;
    }
}
p.error__title{
    font-size: 24px;
    font-weight: 500;
}
p.error__p{
    font-size: 40px;
    font-weight: 600;
}

@media (min-width: ($breakpoint-lg+1px)) {
    
}
@media (max-width: $breakpoint-lg) {
    
}
@media (max-width: $breakpoint-md) {

}
@media (max-width: $breakpoint-sm) {
    
}
@media (max-width: $breakpoint-xsm) {
    
}
